.all-ships {
  display:flex;
  flex-direction: row;
  flex-flow: wrap;
}

.ship-button {
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 20px;
    background: azure;
  }

  .go-back-btn {
    background: lightgreen;
    margin: 20px auto;
    display: flex;
    width: 100px;
    border-radius: 10px;
    padding: 2px 5px;
  }